@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #7CAEE8;
  background-image: linear-gradient(
    301deg,
    rgba(124, 174, 232, 1) 0%,
    rgba(238, 224, 250, 1) 0%,
    rgba(124, 174, 232, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .auth-input {
    border: 1px solid #a9a9a9;
    border-radius: 16px;
    width: 100%;
    height: 44px;
    background-color: transparent;
    outline: none;
    font-size: 12px;
    color: #a9a9a9;
    padding: 14px 15px;

    transition: border-color 250ms cubic-bezier(0.165, 0.84, 0.44, 1.03);
  }

  .auth-input:is(:hover, :focus) {
    border-color: #fff;
  }

  .auth-input-error {
    border-color: #ff003d;
  }

  .auth-input-error:is(:hover, :focus) {
    border-color: #ff003d;
  }

  .submit-btn {
    display: block;
    border-radius: 12px;
    border: none;
    width: 100%;
    padding: 16px 36px;
    height: 52px;
    font-size: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #990078;

    font-size: 16px;
    color: #fff;
    transition: background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1.03);
  }

  .submit-btn:is(:hover, :focus) {
  background-color: #ff678b;
  }

  .submit-btn-disabled {
    cursor: auto;
    backdrop-filter: blur(50px);
    opacity: 0.5;
  }

  .submit-btn-disabled:is(:hover, :focus) {
    backdrop-filter: blur(50px);
    opacity: 0.5;
    background: #990078;
  }

  .auth-error-message {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 5px;
    font-size: 8px;
    color: #ff003d;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    color: #fff;
  }

  .checkbox-label svg {
    width: 24px;
    height: 24px;
    fill: #fff;
  }

  .element {
    -webkit-box-shadow: -8px 7px 102px -3px rgba(255, 255, 255, 0.48);
    -moz-box-shadow: -8px 7px 102px -3px rgba(255, 255, 255, 0.48);
    box-shadow: -1px 0px 40px 9px rgba(255, 255, 255, 0.17);
  }
  .padding {
    padding: 16px;
  }
  .auth-bg{
background-color: rgba(152, 67, 189, 0.05);
    
  }
  .auth-blur{
    display: inline-block;
    text-shadow: 1px 0 30px white, 1px 0 30px rgba(255, 255, 255, 0.48);
  }
.clear-btn{
  position: absolute;
  top: 50%;
  right: 8px;
  width: 14px;
  height: 14px;

}

}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
